


.loginForm{
  max-width: fit-content;
  text-align: center;
  margin:0 auto;
  padding:5% 5%;
}

.client-cards-div{
  max-width: fit-content;
  text-align: center;
  margin:0 auto;
}

.dataWrapper{
  margin:1% auto;
}

